body, p, td {
    font-size: 10pt;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border: 0;
}
tr, td {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Image columns: t r b l */
table.main {
    height: 100%;
    width: 100%;
}
td.top {
    padding: 15px 15px 0 15px;
}
td.bottom {
    padding: 0 15px 15px 15px;
}
td.middle {
    padding: 0 15px 0 15px;
}

.wrapper {
    width: 800px;
    background: url(../images/background.png);
}
.content {
    margin: 0 20px;
    height: 413px;
    color: #FFF;
    background-color: #4D4D4D;
}

.content p {
    vertical-align: top;
}

.caption {
    text-align: center;
}

.navButton img, .navButton {
    border: 0;
    padding: 0;
    margin: 0;
}
