body, p, td, div {
    font-size: 10pt;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

body {
    background-color: #2D2D2D;
    color: #8d8d8d;
}

body a {
    color: #8d8d8d;
}

h1 {
    font-size: 11pt;
    font-weight: bold;
    margin: 2px;
    padding: 0;
}

h2 {
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
    margin: 2px;
    padding: 0;
}

h3 {
    font-size: 9pt;
    font-weight: bold;
    padding: 0;
    margin-bottom: 0;
}

.links {
    margin: 0 20px;
}
.links td {
    width: 250px;
    height: 50px;
    text-align: center;
}

.wrapper {
    text-align: center;
}

.phone {
    font-size: 9pt;
    float: right;
    margin-right: 20px;
    margin-top: -20px;
    color: 660000;
}

a.more {
    float: right;
    color: #8d8d8d;
}

.content {
    margin: 0 20px;
    height: 413px;
    background-color: #2D2D2D;
}
.content h1 {
    text-align: center;
}


table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border: 0;
}
tr, td {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Image columns: t r b l */
table.main {
    height: 100%;
    width: 100%;
}
td.top {
    padding: 15px 15px 0 15px;
}
td.bottom {
    padding: 0 15px 15px 15px;
}
td.middle {
    padding: 0 15px 0 15px;
}

.section {
    display: none;
}

img { border: 0 }

.wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/background.png);
}
.content p {
    vertical-align: top;
}

.more {
    text-align: center;
}

.caption {
    text-align: center;
}

.navButton img, .navButton {
    border: 0;
    padding: 0;
    margin: 0;
}

.gallery {
    width: 437px;
    height: 382px;
    text-align: center;
}

.gallery h1 {
    font-size: 9pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
