table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border: 0;
}
tr, td {
    padding: 0;
    margin: 0;
    border: 0;
}
td.left { padding: 25px 20px 0 20px }
td.right { padding: 25px 20px 0 20px }
.wrapper {
    width: 800px;
    background: url(../images/background.png);
}
.content {
    margin: 0 20px;
    height: 413px;
    color: #FFF;
    background-color: #4D4D4D;
}

.content p {
    vertical-align: top;
    font-size: 9pt;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

.navButton img, .navButton {
    border: 0;
    padding: 0;
    margin: 0;
}
