<script>var img = new Image; img.src="images/[% file %]_hover.jpg";</script>
[% IF href %]
<a class="navButton" href="[% href %]">
[% END %]
[% IF selected %]
<img class="rollover" name="[% file %]" src="images/[% file %]_hover.jpg" />
[% ELSE %]
<img class="rollover" name="[% file %]" src="images/[% file %].jpg" onmouseover="this.src='images/[% file %]_hover.jpg'" onmouseout="this.src='images/[% file %].jpg'"/>
[% END %]
[% IF href %]
</a>
[% END %]
