<html>
<head>
    <title>[% title %]</title>
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="description" content="FW MX DW MX HTML">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="javascript/jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="javascript/functions.js"></script>
</head>
<body bgcolor="#ffffff">

[% left = imgs.0 ? imgs.0.size() : 0 %]
[% right = imgs.1 ? imgs.1.size() : 0 %]
[% last = left > right ? left : right %]

<div class="wrapper">
    <img class="header" src="images/header.png"/>
    <div class="phone">T: 778-318-0624</div>
    <div class="content">
        <table class="main">
            <tr>
                <td class="top left">
                    [% INCLUDE rollover.tt2 image=imgs.0.0 IF imgs.0.0 %]
                </td>
                <td rowspan="[% last %]">
                <div class="centre">[% content %]</div>
                </td>
                <td class="top right">
                    [% INCLUDE rollover.tt2 image=imgs.1.0 IF imgs.1.0 %]
                </td>
            </tr>
            [% last = last - 1 %]
            [% FOR i = [1 .. last] %]
            <tr>
                <td class="[% IF i < last %]middle[% ELSE %]bottom[% END %]">
                    [% INCLUDE rollover.tt2 image=imgs.0.$i IF imgs.0.$i %]
                </td>
                <td class="[% IF i < last %]middle[% ELSE %]bottom[% END %]">
                    [% INCLUDE rollover.tt2 image=imgs.1.$i IF imgs.1.$i %]
                </td>
            </tr>
            [% END %]
        </table>
    </div>

    <table border="0" cellpadding="0" cellspacing="0" class="links">
        <tr>
            [% MACRO selected(link) 1 IF link == name %]
            <td>[% INCLUDE rollover.tt2 selected=selected('home') image={name=>"link_home"} href="/" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('about') image={name=>"link_about"} href="about.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('contact') image={name=>"link_contact"} href="contact.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('gallery') image={name=>"link_gallery"} href="gallery1.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('testimonial') image={name=>"link_testimonial"} href="testimonials.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('info') image={name=>"link_info"} href="info.html" %]</td>
        </tr>
    </table>
</body>
</html>
