<html>
<head>
    <title>[% title %]</title>
    <meta http-equiv="Content-Type" content="text/html;">
    <meta name="description" content="FW MX DW MX HTML">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="javascript/jquery-1.3.1.js"></script>
</head>
<body bgcolor="#ffffff">

[% last = imgs.0.size() > imgs.1.size() ? imgs.0.size() : imgs.1.size() %]

<div class="wrapper">
    <img src="images/header.jpg"/>
    <div class="content">
        <table class="main">
            <tr>
                <td class="top left">
                    [% INCLUDE rollover.tt2 href=hrefs.0.0 file=imgs.0.0 IF imgs.0.0 %]
                </td>
                <td rowspan="[% last %]">
                    [% content %]
                </td>
                <td class="top right">
                    [% INCLUDE rollover.tt2 href=hrefs.1.0 file=imgs.1.0 IF imgs.1.0 %]
                </td>
            </tr>
            [% last = last - 1 %]
            [% FOR i = [1 .. last] %]
            <tr>
                <td class="[% IF i < last %]middle[% ELSE %]bottom[% END %]">
                    [% INCLUDE rollover.tt2 href=hrefs.0.$i file=imgs.0.$i IF imgs.0.$i %]
                </td>
                <td class="[% IF i < last %]middle[% ELSE %]bottom[% END %]">
                    [% INCLUDE rollover.tt2 href=hrefs.1.$i file=imgs.1.$i IF imgs.1.$i %]
                </td>
            </tr>
            [% END %]
        </table>
    </div>

    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            [% MACRO selected(link) 1 IF link == name %]
            <td>[% INCLUDE rollover.tt2 selected=selected('home') file="link_home" href="home.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('about') file="link_about" href="about1.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('contact') file="link_contact" href="contact.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('gallery') file="link_gallery" href="gallery1.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('testimonial') file="link_testimonial" href="testimonials.html" %]</td>
            <td>[% INCLUDE rollover.tt2 selected=selected('info') file="link_info" href="info.html" %]</td>
        </tr>
    </table>
</body>
</html>
